<div class="container" style="text-align: center">
    <div>
        <div style="font-size: 56px;margin: 20px 0 20px 0">Oups... {{emojis.X}}</div>
        <hr>
        <h2 style="margin-top: 30px">Erreur 404 : Not Found {{emojis.question}}</h2>
        <p>Nous n'avons pas pu trouver la page que vous recherchez.. </p>
    </div>
</div>