<!doctype html>

<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Activité - Prix Nobel</title>
    <link href="/css/bootstrap.css" rel="stylesheet" >
    <link rel="icon" href="/img/icon.ico">
    <style>
        .id, .year{
            width: 20%;
        }
        .surname, .firstname {
            width: 40%;
        }
    </style>
</head>

<body>
{{>header}}
{{{body}}}
{{>footer}}
</body>
</html>

