<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Express TP</title>
    <meta name="description" content="TP 3 EXPRESS ET NODEJS">
    <meta name="author" content="JosephAZAR">
    <link href="/css/bootstrap.css" rel="stylesheet" >
    <link href="/css/tp3.css" rel="stylesheet" >
    <script src="/js/bootstrap.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/img/iut.png" class="rounded" alt="IUT LOGO" height="60px" width="120px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">About us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


{{{body}}}

</body>
</html>

