<div class="bg-dark" style="bottom: 0;height: 200px">
    <footer >
        <div class="col-6">
            <p>1</p>
        </div>
        <div class="col-6">
            <p>2</p>
        </div>
    </footer>
</div>