<form id="form1" method="post" class="form-inline" action="/users/add">
    <div class="form-group">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" class="form-control" id="first_name">
    </div>
    <div class="form-group">
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" class="form-control" id="last_name">
    </div>
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="text" name="email" class="form-control" id="email">
    </div>
    <Button type="button" class="btn btn-success" onclick="formSubmit()">Ajouter</Button>
</form>
<br>


<script>
    function formSubmit()
    {
        document.getElementById("form1").submit();
    }
</script>
