<h1>Users</h1>
<a href="/users/add" style="color: red">Ajouter un utilisateur</a>
<br/>

<script>
    $(document).ready(function() {
        (async () =>{
            let url = "/users";
            let response = await fetch(url,{mode: 'cors'});
            if (response.ok){
                let users = await response.json();
                var j = 0;
                var content = "";
                for (var i in users) {
                    if (i % 3 === 0) {
                        $("#users").append("<tr id='row" + i + "'></tr>");
                        j = i;
                    }
                    $("#row" + j).append("<td><div><img src='" + users[i].avatar + "' style='width:130px;height:200px;'>" +
                            "</div><div class='text-center'>" + users[i].first_name + " </br><div>" + users[i].last_name + "</div>" +
                            "<div class='text-center'>" + users[i].email + " </br></div>" +
                            "</div></td>");
                }
            }
        })();
    });
</script>

<table class="table">
    <tbody id="users"></tbody>
</table>
